/mirakurun/conf/server.yml
/mirakurun/data/*
!/mirakurun/data/.gitkeep

/mirakurun/data/
!mirakurun/data/.gitkeep
/EDCB/config/EpgTimerSrv.ini
/EDCB/config/EpgDataCap_Bon.ini
/EDCB/edcb/EpgDataCap_Bon.ini
/EDCB/edcb/EpgTimerSrv.ini
/EDCB/edcb/Setting/*
!/EDCB/edcb/Setting/.gitkeep
