.env

/mirakurun/conf/*
!/mirakurun/conf/.gitkeep
/mirakurun/data/*
!/mirakurun/data/.gitkeep
/mirakurun/opt/*
!/mirakurun/opt/.gitkeep
/mirakurun/run/*
!/mirakurun/run/.gitkeep

/EDCB/edcb/Common.ini
/EDCB/edcb/EpgDataCap_Bon.ini
/EDCB/edcb/EpgTimerSrv.ini
/EDCB/edcb/Setting/*
!/EDCB/edcb/Setting/.gitkeep
/EDCB/record/*
!/EDCB/record/.gitkeep
