/mirakurun/conf/server.yml
/mirakurun/data/*
!/mirakurun/data/.gitkeep

/EDCB/edcb/Common.ini
/EDCB/edcb/EpgDataCap_Bon.ini
/EDCB/edcb/EpgTimerSrv.ini
/EDCB/edcb/Setting/*
!/EDCB/edcb/Setting/.gitkeep
/EDCB/record/*
!/EDCB/record/.gitkeep
